.country__ad {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("png-sprite.png");
  background-position: 0rem 0rem;
  background-size: 6.6rem 3.2rem;
}
._max .country__ad {
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  background-image: url("png-sprite.png");
  background-position: 0rem 0rem;
  background-size: 26.4rem 12.8rem;
}
.country__ae {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("png-sprite.png");
  background-position: -3.4rem 0rem;
  background-size: 6.6rem 3.2rem;
}
._max .country__ae {
  display: inline-block;
  width: 12.8rem;
  height: 12.8rem;
  background-image: url("png-sprite.png");
  background-position: -13.6rem 0rem;
  background-size: 26.4rem 12.8rem;
}
