// Спрайты
@import "../core/sprite-coords.styl"
@import "../core/png-sprite.styl"

.country__ad
  sprite(country_ad, 25%)
  ._max &
    sprite(country_ad, 100%)
  
.country__ae
  sprite(country_ae, 25%)
  ._max &
    sprite(country_ae, 100%)
