// Спрайты
@import "../core/sprite-coords.styl"
@import "../core/png-sprite.styl"

.country__ad
  sprite(country_ad, 25%)
  ._max &
    sprite(country_ad, 100%)
  
.country__ae
  sprite(country_ae, 25%)
  ._max &
    sprite(country_ae, 100%)

.pearl_black
  sprite(pearl_black, 25%)
  ._max &
    sprite(pearl_black, 100%)
    
.pearl_black_lavender
  sprite(pearl_black_lavender, 25%)
  ._max &
    sprite(pearl_black_lavender, 100%)

.pearl_black_orange
  sprite(pearl_black_orange, 25%)
  ._max &
    sprite(pearl_black_orange, 100%)

.pearl_black_white
  sprite(pearl_black_white, 25%)
  ._max &
    sprite(pearl_black_white, 100%)

.pearl_champaigne
  sprite(pearl_champaigne, 25%)
  ._max &
    sprite(pearl_champaigne, 100%)

.pearl_chocolate
  sprite(pearl_chocolate, 25%)
  ._max &
    sprite(pearl_chocolate, 100%)

.pearl_chocolate_lavender
  sprite(pearl_chocolate_lavender, 25%)
  ._max &
    sprite(pearl_chocolate_lavender, 100%)

.pearl_chocolate_orange
  sprite(pearl_chocolate_orange, 25%)
  ._max &
    sprite(pearl_chocolate_orange, 100%)

.pearl_chocolate_white
  sprite(pearl_chocolate_white, 25%)
  ._max &
    sprite(pearl_chocolate_white, 100%)

.pearl_gold
  sprite(pearl_gold, 25%)
  ._max &
    sprite(pearl_gold, 100%)

.pearl_grey
  sprite(pearl_grey, 25%)
  ._max &
    sprite(pearl_grey, 100%)

.pearl_lavender
  sprite(pearl_lavender, 25%)
  ._max &
    sprite(pearl_lavender, 100%)

.pearl_mix1
  sprite(pearl_mix1, 25%)
  ._max &
    sprite(pearl_mix1, 100%)

.pearl_mix2
  sprite(pearl_mix2, 25%)
  ._max &
    sprite(pearl_mix2, 100%)

.pearl_mocco
  sprite(pearl_mocco, 25%)
  ._max &
    sprite(pearl_mocco, 100%)

.pearl_orange
  sprite(pearl_orange, 25%)
  ._max &
    sprite(pearl_orange, 100%)

.pearl_pistachio
  sprite(pearl_pistachio, 25%)
  ._max &
    sprite(pearl_pistachio, 100%)

.pearl_white
  sprite(pearl_white, 25%)
  ._max &
    sprite(pearl_white, 100%)

.pearl_white_lavender
  sprite(pearl_white_lavender, 25%)
  ._max &
    sprite(pearl_white_lavender, 100%)

.pearl_white_orange
  sprite(pearl_white_orange, 25%)
  ._max &
    sprite(pearl_white_orange, 100%)
